{% load livereload_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>School Of Chess Srikakulam</title>
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}" >
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="icon" href="data:,">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>

<body>
  <!--========================================================================================================================
                                            TopBar
=========================================================================================================================-->

  <header class="header-one">
    <div class="top-bar left">
      <i class="fa fa-phone"></i>
      <span class="number">9959118524</span>
      <i class="fa fa-envelope"></i>
      <span class="mail">soca@gmail.com</span>
    </div>

    <div class="social-icons right">
      <a href="https://www.facebook.com/chinnarao.bheri/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
      <a href="https://twitter.com/bherichinnarao" target="_blank"><i class="fa-brands fa-twitter"></i></a>
      <a href="#"><i class="fa-brands fa-instagram"></i></a>
      <a href="https://wa.me/9959118524" target="_blank"><i
          class="fa-brands fa-whatsapp"></i></a>
    </div>
  </header>


  <!--========================================================================================================================
                                           NavBar
=========================================================================================================================-->

  <header class="second-header">
    <div class="container">
      <div class="row align-items-center justify-content-between">
        <div class="logo">
          <a href="#"><img src="{% static 'images/logo.png' %}" alt="logo"></a>
        </div>
        <button type="button" class="nav-toggler">
          <span></span>
        </button>
        <nav class="nav">
          <ul>
            <li><a href="{% url 'home' %}" class="active">home</a></li>
            <li><a href="{% url 'about' %}">about us</a></li>
            <li><a href="{% url 'gallery' %}">Gallery</a></li>
            <li><a href="{% url 'contact' %}">contact</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <!--========================================================================================================================
                                            Image Slider
=========================================================================================================================-->
  <div class="imageouter-slider">
    <div class="imageslider">
      <img class="myslides" src="{% static 'images/banner-big.jpg' %}" alt="image1">
      <img class="myslides" src="{% static 'images/banner-4.jpg' %}" alt="image1">
      <img class="myslides" src="{% static 'images/3.jpg' %}" alt="image1">
      <div class="overlay"></div>
      <div class="text"><span>WELCOME TO SCHOOL OF CHESS</span></div>
      <div class="caption"><span>we create master minds...</span></div>
    </div>
  </div>
  <!--========================================================================================================================
                                           About School Of Chess
=========================================================================================================================-->
  <section class="outer-about">
    <div class="inner-about">
      <div class="heading">
        <div class="inside-heading">
          <h2>Welcome To School Of Chess Academy</h2>
        </div>
        <div class="element-divider">
          <div class="chess-icon">
            <p><i class="fa-solid fa-chess"></i></p>
          </div>
        </div>
      </div>
      <div class="about-content-outer">
        <div class="contentwrapper">

          <p class="para">Our organization offers professional coaching that not only enhances your IQ but also provides
            training with a wide range of strategies and tactics.</p>
          <p class="para">Experience a dynamic approach to chess training at our organization. Our skilled trainers
            employ innovative methods and personalized coaching to help you master the game. From honing your tactical
            acumen to developing strategic thinking, our comprehensive training program ensures you are equipped to play
            and triumph.</p>
          <p class="para">Our main motto is to make you shine on the chessboard, where our commitment is your success at
            state, national, and international levels..</p>

        </div>

        <div class="imgwrapper">
          <img class="about-image" src="{% static 'images/about.png' %}" alt="about">
        </div>

      </div>
      <div class="outside-button">
        <div class="moreinfo">
          <a href="#"><button class="readmore"><span>Readmore</span></button></a>
        </div>
      </div>
    </div>
  </section>





  <!--========================================================================================================================
                                            Training and Services
=========================================================================================================================-->
  <section class="outer-training">
    <div class="training-services">
      <div class="title-heading">
        <div class="title-inside-heading">
          <h2>Training Services</h2>
        </div>
        <div class="element-divider">
          <div class="chess-icon">
            <p><i class="fa-solid fa-chess"></i></p>
          </div>
        </div>
      </div>
      <div class="training-system">
        <div class="card-space">
          <div class="card">
            <img src="{% static 'images/chess3.jpg' %}" alt="Avatar">
            <div class="card-content">
              <h3 class="card-title">One-to-One Training</h3>
              <p class="card-text">Our one-to-one training offers personalized coaching, perfect for players seeking
                rapid skill improvement and tournament preparation. Experience focused instruction and make significant
                progress in less time.</p>
            </div>
            <div class="card-button"><a href="#"><button class="card-readmore"><span>Readmore</span></button></a></div>

          </div>
        </div>
        <div class="card-space">
          <div class="card">
            <img src="{% static 'images/chess1.jpg' %}" alt="Avatar">
            <div class="card-content">
              <h3 class="card-title">Chess In School</h3>
              <p class="card-text">Enhance your skills with our school coaching program, designed for players seeking
                accelerated improvement. Experience focused training, elevate your game, and improve your game standard.</p>
            </div>
            <div class="card-button"><a href="#"><button class="card-readmore"><span>Readmore</span></button></a></div>
          </div>
        </div>
        <div class="card-space">
          <div class="card">
            <img src="{% static 'images/chess2.jpg' %}" alt="Avatar">
            <div class="card-content">
              <h3 class="card-title">Group Training</h3>
              <p class="card-text">Recommended for players looking to improve their skills in a shorter timeframe while
                gaining valuable exposure. Experience the power of collaborative learning and take your game to new
                heights.</p>
            </div>
            <div class="card-button"><a href="#"><button class="card-readmore"><span>Readmore</span></button></a></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--========================================================================================================================
                                            Achievements
=========================================================================================================================-->
  <section class="our-achievements">
    <div class="our-achievements-inside">
      <div class="achievement-title-heading">
        <div class="achievement-title-inside">
          <h2>Our Achievements</h2>
        </div>
        <div class="element-divider">
          <div class="chess-icon">
            <p><i class="fa-solid fa-chess"></i></p>
          </div>
        </div>
      </div>
      <div class="flex-awards">
        <div class="achievement-icons">
          <img src="{% static 'images/award.png' %}" alt="award" class="award">
          <div class="achievement-content">
            <h1 class="counter-numbers" data-number="100">0+</h1>
            <h3>Award Winnings</h3>
          </div>
        </div>
        <div class="vertical-line"></div>
        <div class="achievement-icons">
          <img src="{% static 'images/students.png' %}" alt="students" class="hpy-students">
          <div class="achievement-content">
            <h1 class="counter-numbers" data-number="3000">0+</h1>
            <h3>Happy Students</h3>
          </div>

        </div>
        <div class="vertical-line"></div>
        <div class="achievement-icons">
          <img src="{% static 'images/chess-tournament.jpeg' %}" alt="students" class="tourney-img">
          <div class="achievement-content">
            <h1 class="counter-numbers" data-number="200">0+</h1>
            <h3>Tournaments</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--========================================================================================================================
                                            Footer
=========================================================================================================================-->
  <footer>
    <div class="footer-container">
      <div class="sec aboutus">
        <h2>About Us</h2>
        <p>We are School of Chess Academy, we are a team of qualified chess professionals dedicated to bringing the
          benefits of chess to people of all ages. Chess enhances concentration in children, builds higher confidence in
          young adults, and provides productive engagement for senior citizens..</p>
        <ul class="sci">
          <li><a href="https://www.facebook.com/chinnarao.bheri/" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
          <li><a href="https://twitter.com/bherichinnarao" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
          <li><a href="mailto:schoolofchesss@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a></li>
        </ul>
      </div>
      <div class="sec quicklinks">
        <h2>Quick Links</h2>
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About Us</a></li>
          <li><a href="{% url 'gallery' %}">Gallery</a></li>
          <li><a href="{% url 'contact' %}">Contact</a></li>
        </ul>
      </div>
      <div class="sec contact">
        <h2>Contact Us</h2>
        <ul class="info">
          <li>
            <span><i class="fa-sharp fa-solid fa-location-dot"></i></span>
            <p class="para-address"> D.No. FF-8, Block No-12, NTR NAGAR COLONY,<br>Srikakulam, Andhra Pradesh.<br>Andhra
              Pradesh-532001</p>
          </li>
          <li>
            <span><i class="fa-solid fa-phone"></i></span>
            <p><a href="tel:+9959118524">9959118524</a></p>
          </li>
          <li>
            <span><i class="fa fa-envelope"></i></span>
            <p><a href="mailto:schoolofchesss@gmail.com">soca@gmail.com</a></p>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-line"></div>
    <div class="footer-bottom">
      <div class="container">
        <div class="copy-right">
          <p>© 2023 All Rights Reserved BY School Of Chess Academy </p>
        </div>
      </div>
    </div>
  </footer>

  <!--========================================================================================================================
                                            Script
=========================================================================================================================-->
  <script src="{% static 'js/script.js' %}"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>

</html>